<div class="container" style="margin-top: 20px;">
    <button class="btn" [routerLink]="['/new']">Nuevo post</button>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido</h5>
                    <h6 class="card-subtitle mb-2 text-muted">A nuestro Gamer Week</h6>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi eligendi, vitae repudiandae
                        soluta nihil odio cumque in illum error sapiente maxime, minus dicta est expedita vel quod ex
                        asperiores veritatis!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4" *ngFor="let post of arrPosts">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.titular}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{post.descripcion}}</h6>
                    <p class="card-text">
                        {{post.texto}}
                    </p>
                    <button class="btn" [routerLink]="['/detalle', post._id]">Editar</button>
                    &nbsp;
                    <button class="btn" (click)="borrarPost(post._id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</div>